
		<div class="container register-form top-buffer-1">
		  <div class="form">
			  <div class="note">
				<p>Creation D'un Compte Partenaire</p>
			  </div>
		 <div class="form-content bk">
				<form [formGroup]="compteForm">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Les Information du Partenaire</legend>
						<div class="row" formGroupName="partenaire">
							<div class="col-sm-3">
							  <label for="ninea">Ninea</label>
							  <input type="ninea" class="form-control" formControlName="ninea" id="ninea" placeholder="Ninea" name="ninea" >
							</div>
              <div class="col-sm-3">
							  <label for="rc">RC</label>
							  <input type="rc" class="form-control" id="rc" formControlName="rc" placeholder="Registre De Commerce" name="rc">
							</div>
              <legend class="scheduler-border">Donnees Utilisateur</legend>
              <div class="row" formGroupName="users">
                <div class="col-sm-3">
                  <label for="uname">Username</label>
                  <input type="text" class="form-control" formControlName="username" id="usermane" placeholder="username" name="uname">
                </div>
                <div class="col-sm-3">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" formControlName="password" id="password" placeholder="password" name="pasword">
                </div>
              </div>
						</div>
					</fieldset>
					<!-- Educational Qualification -->
					<!--Educational Qualification -->

					<!-- Test Prep -->
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Information Depot</legend>
						<div class="row" formGroupName="depots">
							<div class="col-sm-3">
							  <label for="place">Montant</label>
							  <input type="number" class="form-control" formControlName="montant" id="fmane" placeholder="Montant" name="place">
							</div>
						</div>
					</fieldset>
					<!-- Study Abroad Plans -->
					<button type="submit" class="button" (click)="create()">Creer Compte Partenaire</button>
				</form>
			</div>
		</div>
		  </div>
        
	      